<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Kupon</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Edit Kupon</h1>

<form th:action="@{/kupon/edit}" method="post" th:object="${kupon}">
    <input name="idKupon" th:field="*{idKupon}" />

    <div>
        <label for="pemilikId">Pemilik:</label>
        <select id="pemilikId" name="pemilikId" required>
            <option value="" disabled selected>Pilih Pemilik</option>
            <th:block th:each="user : ${users}">
                <option th:value="${user.id}" th:text="${user.username}"
                        th:selected="${user.id == kupon.pemilik.id}"></option>
            </th:block>
        </select>
    </div>

    <div>
        <label for="kosPemilik">Kost:</label>
        <select id="kosPemilik" name="kosPemilik" multiple th:field="*{kosPemilik}">
            <option th:each="kost : ${kosts}"
                    th:value="${kost.kostID}"
                    th:text="${kost.nama}"
                    th:selected="${selectedKostIds.contains(kost.kostID)}">
            </option>
        </select>
        <p><i>* Gunakan Ctrl (atau Cmd di Mac) untuk memilih lebih dari satu</i></p>
    </div>

    <div>
        <label for="persentase">Diskon (%):</label>
        <input type="number" id="persentase" th:field="*{persentase}" min="1" required/>
    </div>

    <!-- Input untuk Masa Berlaku -->
    <div class="form-group">
        <label for="masaBerlaku">Masa Berlaku</label>
        <input type="date" class="form-control" id="masaBerlaku" name="masaBerlaku"
               th:field="*{masaBerlaku}" required/>
    </div>

    <!-- Input untuk Deskripsi -->
    <div class="form-group">
        <label for="deskripsi">Deskripsi</label>
        <textarea class="form-control" id="deskripsi" name="deskripsi"
                  th:field="*{deskripsi}" rows="3" placeholder="Masukkan deskripsi kupon" required></textarea>
    </div>

    <!-- Checkbox untuk Kupon Global -->
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="kuponGlobal" name="kuponGlobal"
               th:field="*{kuponGlobal}" />
        <label class="form-check-label" for="kuponGlobal">Kupon Global</label>
    </div>

    <!-- Tombol Submit -->
    <div>
        <button type="submit">Simpan Kupon</button>
    </div>
</form>
</body>
</html>
